/target/
.DS_Store
.idea/
.DS_Store
.idea/
.idea/libraries
*.iml
.settings
.project
.classpath
*.sentrycache.data
sentry_result
logs/
discoverclient
.springBeans
target/
bin/
*/CATALINA_APPLOG_IS_UNDEFINED/
